-f https://download.pytorch.org/whl/cpu/torch_stable.html
Flask
plotly
Flask-Cors
Flask-SQLAlchemy
fuzzywuzzy
gunicorn
numpy
pandas
pycountry
requests
nltk
wordcloud
wget
opencv-python-headless==3.4.13.47
gspread
oauth2client
pyopenssl
torch==1.10.2+cpu 
torchvision==0.11.3+cpu 
torchaudio==0.10.2+cpu